body{
    font-family: Montserrat, sans-serif;
    background: #28223f;
  }
  .container{
    user-select: none;
    margin: 100px auto;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  }
  .cover-photo{
    background: url(b.png);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 -175px;
    border: 1px solid #1f1a32;
    padding: 7px;
    background: #292343;
  }
  .profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 120px;
  }
  .about{
    margin-top: 35px;
    line-height: 21px;
  }
  button{
    margin: 10px 0 40px 0;
  }
  .msg-btn, .follow-btn{
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
  }
  .follow-btn{
    margin-left: 10px;
    background: transparent;
    color: #02899c;
  }
  .follow-btn:hover{
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
  }
  .container i{
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .container i:hover{
    color: #03bfbc;
  }



  .btn {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
   }
   
   .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
   }
   /* glow */
   .btn::before {
    content: "";
    background: linear-gradient(
       45deg,
       #FF0000, #002BFF, #FF00C8, #002BFF,
         #FF0000, #002BFF, #FF00C8, #002BFF
   );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
   }
   
   @keyframes glowing {
    0% {
     background-position: 0 0;
    }
   
    50% {
     background-position: 400% 0;
    }
   
    100% {
     background-position: 0 0;
    }
   }
   
   /* hover */
   .btn:hover::before {
    opacity: 1;
   }
   
   .btn:active:after {
    background: transparent;
   }
   
   .btn:active {
    color: #000;
    font-weight: bold;
   }
